<label for="first">First Name</label> <input name="first" id="first" class="" /><br/>
<label for="last">Last Name</label> <input name="last" id="last" class="" /><br/>
<label for="address">Address</label> <input name="address" id="address" class="" /><br/>
<label for="phone">Phone Number</label> <input name="phone" id="phone" class="" /><br/>
<input type="submit" value="submit"/>
